{% extends 'base.html.twig' %}

{% block title %}New Scanform{% endblock %}

{% block body %}
    <h1>Create new Scanform</h1>

    {{ include('scanform/_form.html.twig') }}

    <a href="{{ path('app_scanform_index') }}">back to list</a>
{% endblock %}
