{% extends 'base.html.twig' %}

{% block title %}Edit ScandocType{% endblock %}

{% block body %}
    <h1>Edit ScandocType</h1>

    {{ include('scandoc_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_scandoc_type_index') }}">back to list</a>

    {{ include('scandoc_type/_delete_form.html.twig') }}
{% endblock %}
